extends ../base

block variables
  - var template = 'home'

block content 
  .home 
    .home__wrapper
      .home__titles
        each collection, index in collections 
          .home__titles__label!=`${home.data.collection} <br> ${Numbers(index)}`
          .home__titles__title=collection.data.title
      
      .home__gallery
        each media in home.data.gallery
          figure.home__gallery__media 
            img.home__gallery__media__image(alt=media.image.alt src=media.image.url)
      a.home__link(href=Link(home.data.collections))=home.data.button
        svg.home__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 60")
          path(stroke="currentColor" fill="none" d="M144,0c79.53,0,144,13.43,144,30S223.53,60,144,60,0,46.57,0,30,64.47,0,144,0Zm0,.5C223.25.5,287.5,13.71,287.5,30S223.25,59.5,144,59.5.5,46.29.5,30,64.75.5,144,.5Z")
